body {
	margin: 0;
}

a:hover {
	color: #063;
	text-decoration: none;
}

#divCorpo {
	background-color: #FFF;
	float: left;
	width: 99.8%;
	z-index: 0;
}

#divTopo {
	background-color: #FFF;
	border: 1px solid;
	float: left;
	margin-left: 6px;
	padding: 3px;
	width: 98%;
}

#divGeral {
	background-color: #FFF;
	border: 1px solid;
	float: left;
	margin-left: 6px;
	margin-top: 3px;
	padding: 3px;
	width: 98%;
}

.caixaBranca {
	background-color: #FFF;
	border: 1px solid #9C9;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 1px;
	padding: 1px;
	vertical-align: middle;
}

.caixaBrancaSemBorda {
	background-color: #FFF;
	border: 1px solid #FFF;
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.caixaLink {
	background-color: #FFF;
	border: 1px solid #FFF;
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-right: 0px;
	margin-left: 10px;
	text-align: center;
}

.caixaVerde {
	background-color: #DFEFD1;
	border: 1px solid #9C9;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 1px;
	padding: 1px;
}

.celulaVerde {
	background-color: #F0F8E9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.celulaBranca {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.campoBranco {
	background-color: #FFF;
	border: 1px solid #616161;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.campoDis {
	background-color: #F2F2F2;
	border: 1px solid #616161;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.campo100Branco {
	background: #FFF;
	background-color: #FFF;
	border: 1px solid #616161;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 98%;
}

.campoVerde {
	background-color: #F0F8E9;
	border: 1px solid #616161;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.campo100Verde {
	background-color: #DFEFD1;
	border: 1px solid #616161;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 98%;
}

.barraTitulos {
	background-color: #BDE09E;
	border: 1px solid silver;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	margin: 1px;
	vertical-align: bottom;
	width: 100%;
}

.fonteTitulos {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.motivo {
	background-color: transparent;
	background-image: url(../images/fundoTransparente.gif);
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.msg {
	background-color: #FFF;
	border: 1px solid #616161;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 11px;
	margin-top: 5px;
	text-align: center;
}

#divAguarde {
	background-color: transparent;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	z-index: 1000;
}

<!--
Funciona na BIOMETRIA -->#divAguarde1 {
	background-color: transparent;
	height: 100%;
	text-align: center;
	width: 698px;
	z-index: 1000;
}

#loading {
	background: #FFF;
	border: 1px dotted #ccc;
	height: 65px;
	left: 0;
	padding-top: 25px;
	position: absolute;
	text-align: center;
	top: 245px;
	width: 698px;
}

#botaoFechar {
	float: right;
}

.resposta {
	background-color: #F0F8E9;
	border-color: #9C9;
	border-style: solid;
	border-width: 1px;
	color: #060;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 2px;
	vertical-align: middle;
	width: 60%;
}

a,a:visited {
	color: #000;
	text-decoration: none;
}

@media print {
	#divImprimir {
		display: none;
	}
}